# -*- mode: shell-script -*-

export SWITCHEROO="$PWD"/.switcheroo
export GIT_WORK_TREE="$PWD"

function _use() {
    local -r name="$1"
    export GIT_DIR="$SWITCHEROO/$name"
}

function _init() {
    local -r name="$1"
    _use "$name"
    test -d "$GIT_DIR" || (
        mkdir -p "$GIT_DIR"
        git init
    )
}

function _list-git-files() {
    git ls-tree --name-only HEAD 2>/dev/null || true
}

function _ignore-others {
    local -r name="$1"

    (
        shopt -s nullglob

        local ignore_files=()
        for d in "$SWITCHEROO"/* ; do
            [[ "$d" == "$name" ]] && continue
            _use "$(basename "$d")"
            ignore_files+=( $(_list-git-files) )
        done

        _use "$name"
        (
            IFS=$'\n'
            echo "${ignore_files[*]}"
        ) > "$GIT_DIR/info/exclude"
    )
}

function switch() {
    local -r name="$1"
    _use "$name"
    _init "$name"
    _ignore-others "$name"
}
